html {
    margin: 0;
    padding: 0;
    background-color: #0d0c0d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #f1f1f1;
    box-sizing: border-box;
}
.sidebar {
    border-radius: 15px;
    width: 3.5rem;
    height: 92vh;
    position: fixed;
    top: 0.5rem;
    left: .5rem;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
}
/*.sidebar:hover{
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: visible;
}*/

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 11rem;
}
.logo img {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    width: 4rem;
    border-radius: 50%; 
}

.nav-links {
    list-style: none;
    padding: 0 15px;
}
ul li {
    position: relative;
    color: #f1f1f1;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
ul li img {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 20px;
}
ul .settings {
    padding-top: 14rem;

}

