html {
    margin: 0;
    padding: 0;
    background-color: #0d0c0d;

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #f1f1f1;
    overflow-x: hidden;
}
.sidebar {
    z-index: 10;
    border-radius: 15px;
    width: 3.5rem;
    height: 91vh;
    position: fixed;
    top: 0.5rem;
    left: .5rem;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
}
.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.5rem;
}
.logo img {
    width: 4rem;
    border-radius: 50%; 
}

.nav-links {
    z-index: 10;
    list-style: none;
    padding: 0 15px;
}
.nav-links li {
    color: #f1f1f1;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.nav-links img {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.nav-links img:hover{
    transition: 0.2s ease-out;
    width: 35px;
}
.nav-links .settings {
    padding-top: 5rem;
}
.header-images {
    position: fixed;
}
.header-images {   
    display: inline-flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    width: 90.8%;
    height: 5rem;
    left: 6.5%;
    top: -0.48rem;
    border-radius: 15px;
}
.header-images .note{
    position: sticky;
    left: 82rem;
}
.header-images .note img{
    padding: 0.8rem;
    width: 1.9rem;
}
.header-images .profile img{
    padding: 0.8rem;
    width: 1.9rem;
}
.header-images .profile{
    position: sticky;
    left: 100rem;
}

.header-images img {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 1.5rem;
    padding: 1rem;
    margin: 1.5rem;
}
.search {
    position: relative;
    width: 60px;
    height: 60px;
    background: #f1f1f1f1;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 1px #0d0c0d;
}
.search:hover {
    width: 360px;
}
.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #f1f1f1f1;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;; 
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #0d0c0d;
    border-radius: 50%;
    transform: translate(-4px, -4px) ;
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #0d0c0d;
    border-radius: 50%;
    transform: translate(6px, 6px) rotate(315deg);
}
.friend-bar {
    z-index: 10;
    border-radius: 15px;
    width: 3.5rem;
    height: 70vh;
    position: fixed;
    top: 6rem;
    left: 94%;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: table-column;
    justify-content: center;
    align-items: center;
}

.friend-bar li {
    color: #f1f1f1;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
}
.friend-bar img {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 8px;
}
.add-button {
    top: 0.2rem;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.see-all p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    color: #f1f1f1;
    padding-top: 5rem;
}
.pfp  {
    padding: 0;
}

.container {
    width: 85%;
    margin: 10px auto;
    z-index: -1;
}
.carousel {
    top: 10rem;
    border: 2px solid #f1f1f1;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.slider {
    height: 100%;
    display: flex;
    width: 400%; 
    transition: all 0.8s;
}
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls .arrow {
    position: absolute;
    top: 50%;
}
.arrow.left {
    left: 10px;
    background-color: #0d0c0d;
    padding: 15px;
    cursor: pointer;
}
.arrow.right {
    right: 10px;
    background-color: #0d0c0d;
    padding: 15px;
    cursor: pointer;
}
.album-container {
    position: relative;
    top: 11rem;
    margin: auto;   
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 5rem;
    gap: 1em;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}
.album { 
    border-radius: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
 }
.album-image img {
    transition: all 150xp 0.3s;
    width: 150px;
    margin: 15px;
    border-radius: 15px;
    position: relative;
}
.album-image img:hover {
    position: sticky;
    transition: 0.2s;
    width: 170px;
}
.album .arist p {
    margin-top: 0;
}
