html {
    margin: 0;
    padding: 0;
    background-color: #0d0c0d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #f1f1f1;
    box-sizing: border-box;
}
.logo {
    color: #0d0c0d;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem ;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.logo p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
}
.logo img {
    padding: 10px;
    width: 3rem;
    border-radius: 50%;
}

.sidebar {
    border-radius: 15px;
    width: 14rem;
    height: 92vh;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.nav-links {
    list-style: none;
    padding: 0 15px;
}
ul li  {
    background-color: white ;
    border-radius: 20px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li p {
    display: flex;
    justify-content: center;
}